<section id="countdown" class="countdown-container">
    <div class="wrap">
    <ul class="section-list countdown-list">
        <li><span id="years">Years</span></li>
        <li><span id="months">Months</span></li>
        <li><span id="days">Days</span></li>
    </ul>
    </div>
</section>
